html{
    scroll-behavior: smooth;
}

.skip a{
    background: white;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1000;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

/* img {
    max-width: auto;
    height: 100px;
} */

#top_nav {
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: black;
}

header img {
    display: None;
}

#nav_links {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: #ffffff;
    font-family: Forum, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#nav_links a {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    font-family: Forum, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color:  black;
}


#nav_links a:hover {
    background-color: gray;
    color: #000000;
}

a#nav_active {
    background-color: black;
    color: white;
}

footer {
    width: 100%;
    color: #ffffff;
    background-color: black;
    font-family: Forum, sans-serif;
    font-size: 9px;
    text-align: center;
    position:fixed;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
}

@media screen and (min-width: 750px){
    #top_nav {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    header img {
        width: auto;
        max-height: 100px;
        display: inline-block;
        width: 300px;
        transform: scale(0.6);
        margin: 0px;
        position: absolute;
        left: -40px;
        top: 5px;
    }

    #nav_links {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        display:flex;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
        align-items: center;
        font-family: Forum, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        background-color:  black;
    } 

    #nav_links a:hover {
        background-color: gray;
    }

    a#nav_active {
        background-color: gray;
        color: white;
    }

    footer {
        width: 100%;
        font-size: 12px;
        padding: 15px;
    }
}

@media screen and (min-width: 1200px){

    #nav_links {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 24px;
    }

    footer {
        font-size: 16px;
    }
}


@media screen and (min-width: 1600px){
    footer {
        font-size: 16px;
    }
}

