html{
    scroll-behavior: smooth;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.skip a{
    background: white;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1000;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

img {
    max-width: 100%;
    height: auto;
}

#top_nav {
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: black;
    z-index: 100;
}

header img {
    display: None;
}

#nav_links {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#nav_links a {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color:  black;
}

#nav_links a:hover {
    background-color: gray;
    color: #000000;
}

a#nav_active {
    background-color: black;
    color: white;
}

main {
    position: relative;
    top: 0px;
    bottom: 20px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 11px;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0 0 20px;
}

.header_about {
    background-image: url("../imgs/members.jpeg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.main_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section_header_about {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 80%;
    height: 25px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: 20px;
    letter-spacing: 1px;
}

.intro {
    list-style-type: none;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 95%;
}

.intro p {
    line-height: 1.2;
    letter-spacing: 0.3px;
}

footer {
    width: 100%;
    color: #ffffff;
    background-color: black;
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    text-align: center;
    position:fixed;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
}

@media screen and (min-width: 750px){
    #top_nav {
        top: 0;
        width: 100%;
        height: 100px;
        display: flex;
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    header img {
        width: auto;
        max-height: 100px;
        display: inline-block;
        width: 300px;
        transform: scale(0.6);
        margin: 0px;
        position: absolute;
        left: -40px;
        top: 5px;
    }

    #nav_links {
        display:flex;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        display:flex;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
        align-items: center;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        background-color:  black;
    }

    #nav_links a:hover {
        background-color: gray;
        text-decoration:underline;
    }

    a#nav_active {
        background-color: gray;
        color: white;
        text-decoration:underline;
    }

    main {
        top: 100px;
        bottom: 100px;
        font-size: 11px;
    }

    .h1 {
        width: 160px;
        height: 50px;
        font-size: 20px;
    }

    .header_about {
        height: 450px;
    }

    .main_container {
        margin-top: 30px;
    }

    .section_header_about {
        font-size: 20px;
        height: 40px;
        letter-spacing: 1.2px;
    }

    .intro {
        margin-bottom: 80px;
    }

    .intro p {
        line-height: 1.5;
        letter-spacing: 0.5px;
    }


    footer {
        width: 100%;
        font-size: 12px;
        padding: 15px;
    }
}

@media screen and (min-width: 1200px){

    #nav_links {
        display:flex;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 24px;
    }

    main {
        font-size: 17px;
    }

    .h1 {
        width: 200px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 5px;
        margin-top: 20px;
    }

    .header_about {
        height: 700px;
    }

    .main_container {
        margin-top: 40px;
    }

    .section_header_about {
        margin: 40px;
        font-size: 30px;
        height: 60px;
        letter-spacing: 1.2px;
    }

    .intro {
        margin-bottom: 100px;
    }

    .intro p {
        line-height: 1.5;
        letter-spacing: 0.5px;
    }

    footer {
        font-size: 16px;
    }
}


@media screen and (min-width: 1600px){
    main {
        font-size: 20px;
    }

    .header_about {
        height: 900px;
    }

    .main_container {
        margin-top: 50px;
    }

    .section_header_about {
        margin: 40px;
        font-size: 40px;
        height: 80px;
        letter-spacing: 1.3px;
    }

    .intro {
        margin-bottom: 120px;
    }

    footer {
        font-size: 16px;
    }
}

