html{
    scroll-behavior: smooth;
}

.skip a{
    background: white;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1000;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

img {
    max-width: 100%;
    height: auto;
}

#top_nav {
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: black;
    z-index: 100;
}

header img {
    display: None;
}

#nav_links {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#nav_links a {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color:  black;
}

#nav_links a:hover {
    background-color: gray;
    color: #000000;
}

a#nav_active {
    background-color: black;
    color: white;
}

main {
    position: relative;
    top: 0px;
    bottom: 20px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 11px;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0 0 20px;
}

.header_home {
    background-image: url("../imgs/performance-at-grammys.jpeg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.cover {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 60%;
    background-color: rgba(161, 161, 161, 0.5);
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    color: #000000;
    margin: 10px;
    -webkit-animation: myfirst 5s ;
    animation: myfirst 5s ;
    animation-iteration-count: 1;
}

@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (prefers-reduced-motion: reduce){

    .cover {
      animation: none;
    }
}

.main_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section_header_home {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 80%;
    height: 25px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: 20px;
    letter-spacing: 1px;
}

.section_container_home {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sub_container_home {
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #f8f8f8;
    /* border: 0.5px solid rgb(0, 0, 0, 0.3); */
    margin-bottom: 20px;
}

.img_holder_home {
    display: inline;
    width: 50%;
}

.img_holder_home img {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.sub_header_home {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0px;
    line-height: 1.15;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list_home {
    list-style-type: none;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55%;
    height: 95%;
}

.list_home li {
    line-height: 1.2;
    letter-spacing: 0.3px;
}

.learn_more_button {
    width: 80px;
    height: 10px;
    text-align: center;
    background-color:#ffffff;
	border-radius:3px;
	border: 0.5px solid #000000;;
    letter-spacing: 0px;
	display:inline-block;
	cursor:pointer;
	color: #000000;
	font-size:10px;
	padding:5px 5px;
	text-decoration:none;
    font-weight: bold;
    margin: 5px 0;
}

.learn_more_button:hover {
	border:2px solid #000000;;
}

.learn_more_button:active {
	position:relative;
	top:1px;

}

footer {
    width: 100%;
    color: #ffffff;
    background-color: black;
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    text-align: center;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
}

@media screen and (min-width: 750px){
    #top_nav {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    header img {
        width: auto;
        max-height: 100px;
        display: inline-block;
        width: 300px;
        transform: scale(0.6);
        margin: 0px;
        position: absolute;
        left: -40px;
        top: 5px;
    }

    #nav_links {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        display:flex;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
        align-items: center;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        background-color:  black;
    } 

    #nav_links a:hover {
        background-color: gray;
    }

    a#nav_active {
        background-color: gray;
        color: white;
    }

    footer {
        width: 100%;
        font-size: 12px;
        padding: 15px;
    }
}

@media screen and (min-width: 1200px){

    #nav_links {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 24px;
    } 

    footer {
        font-size: 16px;
    }
}


@media screen and (min-width: 1600px){
    footer {
        font-size: 16px;
    }
}

