html{
    scroll-behavior: smooth;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.skip a{
    background: white;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1000;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

#top_nav {
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: black;
}

header img {
    display: None;
}

#nav_links {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: #ffffff;
    font-family: Forum, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#nav_links a {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    font-family: Forum, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color:  black;
}

#nav_links a:hover {
    background-color: gray;
    color: #000000;
}

a#nav_active {
    background-color: black;
    color: white;
}

#main {
    position: relative;
    top: 80px;
    bottom: 20px;
    width: 100%;
}

/* .h1_collection {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: black;
    font-family: Forum, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0 0 20px;
} */

.main_container {
    display: grid;
    position: absolute;
    /* margin-top: 60px; */
    margin-bottom: 20px;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, auto);
    grid-row-gap: 30px;
    justify-content: center;
    align-content: center;
    overflow-y: scroll;
}

.collection_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.collection_h2 {
    width: 280px;
    margin-bottom: 5px;
}

.collection_h2 p{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    background-color: rgba(229, 229, 229, 0.5);
    border: 2px solid rgb(141, 141, 141);
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.collection_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    transform: rotateY(180deg);
}


.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
}

@media screen and (prefers-reduced-motion: reduce){

    .flip-card-inner, .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner{
        transition: none;
        transform: none;
    }

}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.flip-card-back p {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


footer {
    width: 100%;
    color: #ffffff;
    background-color: black;
    font-family: Forum, sans-serif;
    font-size: 9px;
    text-align: center;
    position:fixed;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
}
@media screen and (min-width: 750px){
    #top_nav {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: black;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    header img {
        width: auto;
        max-height: 100px;
        display: inline-block;
        width: 300px;
        transform: scale(0.6);
        margin: 0px;
        position: absolute;
        left: -40px;
        top: 0;
    }

    #nav_links {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        display:flex;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
        align-items: center;
        font-family: Forum, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        background-color:  black;
    } 

    #nav_links a:hover {
        background-color: gray;
    }
    
    a#nav_active {
        background-color: gray;
        color: white;
    }

    #main {
        top: 100px;
        bottom: 100px;
        font-size: 11px;
    }

    /* .h1_collection {
        width: 160px;
        height: 50px;
        font-size: 20px;
    } */

    .main_container {
        margin-top: 50px;
        margin-bottom: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-gap: 50px 0;
    }
    
    .collection_h2 {
        width: 280px;
        height: 50px;
        margin-bottom: 0px;
    }
    
    .collection_h2 p{
        font-size: 14px;
    }
    
    .flip-card-inner {
        position: relative;
        width: 200px;
        height: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    
    .collection_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    h3 {
        font-size: 14px;
    }
    
    .flip-card-back p {
        font-size: 12px;
    }

    footer {
        width: 100%;
        font-size: 12px;
        padding: 15px;
    }

}

@media screen and (min-width: 1200px){

    #nav_links {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 24px;
    } 

    #main {
        font-size: 20px;
    }

    /* .h1_collection {
        width: 200px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 5px;
        margin-top: 20px;
    } */
    
    .main_container {
        margin-top: 100px;
        margin-bottom: 20px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-gap: 100px 0;
    }
    
    .collection_h2 {
        width: 350px;
        margin-bottom: 5px;
    }
    
    .collection_h2 p{
        font-size: 17px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .flip-card {
        width: 350px;
        height: 350px;
    }
    
    .flip-card-inner {
        width: 250px;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    }
    
    h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 2px;
    }
    
    .flip-card-back p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.6px;
    }
    
    footer {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px){

    #main {
        font-size: 24px;
    }

    .main_container {
        margin-top: 150px;
        margin-bottom: 40px;
        grid-gap: 100px 0;
    }
    
    .collection_h2 {
        width: 450px;
        margin-bottom: 20px;
    }
    
    .collection_h2 p{
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .flip-card {
        width: 400px;
        height: 400px;
    }
    
    .flip-card-inner {
        width: 280px;
        height: 280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    }
    
    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 2px;
    }
    
    .flip-card-back p {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.6px;
    }
    
    footer {
        font-size: 16px;
    }
}

