html{
    scroll-behavior: smooth;
}

.skip a{
    background: white;
    left: 10px;
    padding: 10px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1000;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

img {
    max-width: 100%;
    height: auto;
}

#top_nav {
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: black;
    z-index: 100;
}

header img {
    display: None;
}

#nav_links {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#nav_links a {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color:  black;
}

#nav_links a:hover {
    background-color: gray;
    color: #000000;
    text-decoration:underline;
}

a#nav_active {
    background-color: gray;
    color: white;
    text-decoration:underline;
}

main {
    position: relative;
    top: 0px;
    bottom: 20px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 11px;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0 0 20px;
}

.header_home {
    background-image: url("../imgs/performance-at-grammys.jpeg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.cover {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 60%;
    background-color: rgba(161, 161, 161, 0.5);
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    color: #000000;
    margin: 10px;
    -webkit-animation: myfirst 5s ;
    animation: myfirst 5s ;
    animation-iteration-count: 1;
}

@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (prefers-reduced-motion: reduce){

    .cover {
      animation: none;
    }
}

.main_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section_header_home {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 80%;
    height: 25px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: 20px;
    letter-spacing: 1px;
}

.section_container_home {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sub_container_home {
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.img_holder_home {
    display: inline;
    width: 50%;
}

.img_holder_home img {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.sub_header_home {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0px;
    line-height: 1.15;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list_home {
    list-style-type: none;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55%;
    height: 95%;
}

.list_home li {
    line-height: 1.2;
    letter-spacing: 0.3px;
}

.learn_more_button {
    width: 80px;
    height: 10px;
    text-align: center;
    background-color:#ffffff;
	border-radius:3px;
	border: 0.5px solid #000000;;
    letter-spacing: 0px;
	display:inline-block;
	cursor:pointer;
	color: #000000;
	font-size:10px;
	padding:5px 5px;
	text-decoration:none;
    font-weight: bold;
    margin: 5px 0;
}

.learn_more_button:hover {
	border:2px solid #000000;;
}

.learn_more_button:active {
	position:relative;
	top:1px;

}

.form_overall_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}

form {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    width: 60%;
}

legend{
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

label{
    display: inline-block;
    width:100%;
}

input, textarea {
    font-family: Montserrat, sans-serif;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

*:focus {
    border: 2px solid #000000;
    background-color: #F3F3F3;
}

textarea{
    height: 60px;
}

input[type=submit] {
    background-color: #000000;
    border: 0px;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    color: #ffffff;
    background-color: black;
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    text-align: center;
    position:fixed;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
}

@media screen and (min-width: 750px){
    #top_nav {
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }

    header img {
        width: auto;
        max-height: 100px;
        display: inline-block;
        width: 300px;
        transform: scale(0.6);
        margin: 0px;
        position: absolute;
        left: -40px;
        top: 5px;
    }

    #nav_links {
        display:flex;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav_links a {
        display:flex;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
        align-items: center;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        background-color:  black;
    }

    #nav_links a:hover {
        background-color: gray;
        text-decoration:underline;
    }

    a#nav_active {
        background-color: gray;
        color: white;
        text-decoration:underline;
    }

    main {
        top: 100px;
        bottom: 100px;
        font-size: 15px;
    }

    .h1 {
        width: 160px;
        height: 50px;
        font-size: 20px;
    }

    .header_home {
        height: 400px;
    }

    .cover {
        height: 70%;
        font-size: 48px;
    }

    .main_container {
        margin-top: 50px;
    }

    .section_header_home {
        display: unset;
        font-size: 20px;
        color: #000000;
        background-color: #ffffff;
        border-left: 5px solid #000000;
        border-bottom: 2px solid #000000;
        letter-spacing: 3px;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    .section_container_home {
        flex-direction: row;
    }

    .sub_container_home {
        width: 45%;
        height: 380px;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 50px;
    }

    .img_holder_home {
        width: 100%;
    }

    .img_holder_home img {
        height: 200px;
        width: 100%;
    }

    .sub_header_home {
        font-size: 18px;
        color: #000000;
        letter-spacing: 1px;
        line-height: 1.2;
    }

    .list_home {
        margin-left: 10px;
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 90%;
    }

    .list_home li {
        line-height: 1.2;
        letter-spacing: 1px;
    }

    .learn_more_button {
        width: 80px;
        height: 16px;
        border-radius:4px;
        border: 0.5px solid #000000;;
        letter-spacing: 0.5px;
        color: #000000;
        font-size:12px;
        margin: 5px 0;
    }

    .learn_more_button:hover {
        border:2px solid #000000;;
    }

    .learn_more_button:active {
        position:relative;
        top:1px;
    }

    .form_overall_container {
        width: 100%;
        height: 500px;
    }

    form {
        font-size: 16px;
        width: 40%;
    }

    legend{
        font-size: 22px;
        margin-bottom: 10px;
    }

    textarea{
        height: 80px;
    }

    input[type=submit] {
        width: 100%;
        margin-bottom: 60px;
    }

    footer {
        width: 100%;
        font-size: 12px;
        padding: 15px;
    }
}

@media screen and (min-width: 1200px){

    #nav_links a {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 24px;
    }

    #main {
        font-size: 18px;
    }

    .h1 {
        width: 200px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 5px;
        margin-top: 20px;
    }

    .header_home {
        height: 700px;
    }

    .main_hearder {
        height: 70%;
        width: 80%;
        font-size: 80px;
        font-weight:500;
        letter-spacing: 5px;
    }

    .main_container {
        margin-top: 80px;
    }

    .section_header_home {
        font-size: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .sub_container_home {
        width: 48%;
        height: 200px;
        flex-direction: row;
        align-items: center;
    }

    .img_holder_home {
        width: 50%;
    }

    .img_holder_home img {
        height: 200px;
    }

    .sub_header_home {
        font-size: 20px;
        color: #000000;
        letter-spacing: 2px;
        line-height: 1.4;
    }

    .list_home {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 55%;
    }

    .learn_more_button {
        width: 100px;
        height: 20px;
        border-radius: 5px;
        border: 0.75px solid #000000;
        letter-spacing: 0.5px;
        font-size:15px;
        padding: 5px 15px;
    }

    form {
        font-size: 20px;
    }

    legend{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    textarea{
        height: 100px;
    }

    footer {
        font-size: 16px;
    }
}


@media screen and (min-width: 1600px){

    #main {
        font-size: 20px;
    }

    .h1 {
        width: 200px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 5px;
        margin-top: 20px;
    }

    .header_home {
        height: 900px;
    }

    .main_hearder {
        font-size: 90px;
        letter-spacing: 5px;
    }

    .main_container {
        margin-top: 100px;
    }

    .section_header_home {
        font-size: 34px;
        margin-bottom: 60px;
        border-left: 5px solid #000000;
        border-bottom: 2px solid #000000;
    }

    .sub_container_home {
        width: 45%;
        height: 300px;
        margin-bottom: 100px;
    }

    .img_holder_home {
        width: 60%;
    }

    .img_holder_home img {
        height: 300px;
    }

    .sub_header_home {
        font-size: 24px;
        line-height: 2;
    }

    form {
        font-size: 22px;
        width: 30%;
    }

    legend{
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    textarea{
        height: 120px;
    }

    input[type=submit] {
        width: 100%;
        margin-bottom: 50px;
        height: 50px;
        font-size: 20px;
    }

    footer {
        font-size: 16px;
    }
}

